.generate-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.generate-coursepicker {
    width: 30%;
    margin-bottom: 1rem;
}

.generate-element {
    margin-block: 1rem;
}

.generate-loader {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

/* input {
    max-width: 50%;
} */
